<div class="restView">
  <span class="restInfo">
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </span>
  
  <span class="restInfo">
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </span>
  
  <span class="restInfo">
    <strong>Website:</strong>
    <a href="http://<%= @restaurant.website %>" target="_blank" rel="nofollow"><%= @restaurant.website %></a>
  </span>
  <span class="restInfo">  
    <strong>Phone:</strong>
    <%= @restaurant.phone %>
  </span> 
  <div>
    <%= link_to 'Edit Restaurant Info', edit_restaurant_path(@restaurant) %> | 
    <%= link_to 'Back to Restaurants', restaurants_path %>
  </div>

</div>

<hr>

<div class="forms">
  <div class="col-sm-6">
    <h2>Menu Items</h2>
    <div class="menuList">
      <% @restaurant.menu_items.each do |menu_item| %>
      <div class="menuItem">
        <strong>Item:</strong>
        <%= menu_item.item %>

        <strong>Cost:</strong>
        $<%= menu_item.cost %>

        <%= link_to 'Remove', [menu_item.restaurant, menu_item],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
    <br>
    <hr class="dividerLine">
    
    <h4>Add a menu item:</h4>
    <%= form_for([@restaurant, @restaurant.menu_items.build]) do |f| %>
    
    <p>
      <%= f.label :item %>
      <%= f.text_field :item %>
    </p>
    <p>
      <%= f.label :cost %>
      <%= f.text_field :cost %>
    </p>
    <p>
      <%= f.submit "Add Item" %>
    </p>
    <% end %>

  </div>

  <div class="col-sm-6">
    <h2>Orders</h2>
    <div class="orderList">
      <% @restaurant.orders.each do |order| %>
      <div class="orderItem">
        <%= check_box_tag 'order_ids[]',  order.id, false %>
        <strong>Name:</strong>
        <%= order.name %>

        <strong>Item:</strong>
        <%= order.item %>

        <strong>Cost:</strong>
        $<%= order.cost %>

        <%= link_to 'Remove', [order.restaurant, order],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
    <br>
    <h5>Total: <%= @restaurant.orders.sum(:cost) %></h5>
    <hr class="dividerLine">
    <h4>Add an order item:</h4>
    <%= form_for([@restaurant, @restaurant.orders.build]) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :item %>
      <%= f.text_field :item %>
    </p>
    <p>
      <%= f.label :cost %>
      <%= f.text_field :cost %>
    </p>
    <p>
      <%= f.submit "Add Order" %>
    </p>
    <% end %>

  </div>

</div>


